@using WebApplication1.Models;
@{
    ViewBag.Title = "Sevkiyatekle";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    DataContext db = new DataContext();
    var kullanılabilirsoforler = db.Sofors.Where(x => x.durum == "Bosta").ToList();
    var kullanılabiliraraclar = db.Aracs.Where(x => x.durum == "Bosta").ToList();

}
<script>
    function initMap() {
        var latlng = { lat: 39.925533, lng: 32.866287 };

        var mapOptions = {
            center: latlng,
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var directionsService = new google.maps.DirectionsService();
        var directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);

        function calcRoute() {
            var request = {
                origin: document.getElementById("cikisnoktasi").value,
                destination: document.getElementById("varisnoktasi").value,
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.IMPRERIAL
            }

            directionsService.route(request, (result, status) => {
                if (status == google.maps.DirectionsStatus.OK) {
                    const output = document.querySelector('#output');
                    output.innerHTML = "<div class='alert-info'>Cikis Noktası:" + document.getElementById("cikisnoktasi").value + ".<br/>Varış Noktası:" + document.getElementById("varisnoktasi").value + ".<br/>Mesafe:" + result.routes[0].legs[0].distance.text + ".<br/>Tahmini Varış Süresi:" + result.routes[0].legs[0].duration.text + ".</div>";
                    directionsDisplay.setDirections(result);
                    var coordinates = google.maps.geometry.encoding.decodePath(result.routes[0].overview_polyline);
                    console.log(String(coordinates));
                }
                else {
                    directionsDisplay.setDirections({ routes: [] });
                    map.center(latlng);
                }
            });
        }

        document.getElementById("donebtn").addEventListener('click', calcRoute, true);

        var options = {
            types: ['(cities)']
        }

        var input1 = document.getElementById("cikisnoktasi");
        var autocomplete1 = new google.maps.places.Autocomplete(input1, options);

        var input2 = document.getElementById("varisnoktasi");
        var autocomplete2 = new google.maps.places.Autocomplete(input2, options);
    }
</script>

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-3">

                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <h5 class="card-title mb-0">Sevkiyat Oluştur</h5>
                                <p class="mt-2">Lütfen tüm bilgileri eksiksiz doldurun.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-xxl-9">
                <div class="card mt-xxl-n5">
                    <div class="card-header">
                        <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0"
                            role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="./html/default/#personalDetails"
                                   role="tab">
                                    <i class="fas fa-home"></i>
                                    Transportation Details
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-4">
                        <div class="tab-content">
                            <div class="tab-pane active" id="personalDetails" role="tabpanel">
                                <form action="~/Home/Sevkiyatekle" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="firstnameInput" class="form-label">Çıkış Noktası</label>
                                                <input type="text" class="form-control" id="cikisnoktasi" name="cikisnoktasiinput"
                                                       placeholder="Çıkış Noktası Yazım">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="firstnameInput" class="form-label">Varış Noktası</label>
                                                <input type="text" class="form-control" id="varisnoktasi" name="varisnoktasiinput"
                                                       placeholder="Varış Noktası Yazın">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 text-center">
                                            <div class="mt-4">
                                                <a class="btn btn-info btn-md" id="donebtn">Rota Oluştur</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-header border-0 align-items-center d-flex">
                                                    <h4 class="card-title mb-0 flex-grow-1">Sevkiyat Süresince Araç Aşağıdaki Rotayı Takip Edecektir.</h4>
                                                </div><!-- end card header -->
                                                <div class="card-body p-0 pb-2" id="map" style="height: 400px;">

                                                </div><!-- end card body -->
                                                <div class="card-footer p-0 mt-2" id="output"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="skillsInput" class="form-label">Araç Seçin</label>
                                                <select class="form-control" name="aracinput" data-choices
                                                        data-choices-text-unique-true multiple id="skillsInput">
                                                    @foreach (var item in kullanılabiliraraclar)
                                                    {
                                                        <option value="@item.Id">@item.plaka-@item.marka-@item.aractipi</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="skillsInput" class="form-label">Şoför Seçin</label>
                                                <select class="form-control" name="soforinput" data-choices
                                                        data-choices-text-unique-true multiple id="skillsInput">
                                                    @foreach (var item in kullanılabilirsoforler)
                                                    {
                                                        <option value="@item.Id">@item.adi @item.soyadi</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="firstnameInput" class="form-label">Taşınan Ürün</label>
                                                <input type="text" class="form-control" id="firstnameInput" name="uruninput"
                                                       placeholder="Taşınan ürünü girin">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="skillsInput" class="form-label">Durum</label>
                                                <select class="form-control" name="duruminput" data-choices
                                                        data-choices-text-unique-true multiple id="skillsInput">
                                                    <option value="Hazırlanıyor">Hazırlanıyor</option>
                                                    <option value="Devam Ediyor" selected>Devam Ediyor</option>
                                                    <option value="Tamamlandı">Tamamlandı</option>
                                                    <option value="İptal Edildi">İptal Edildi</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-lg-12">
                                            <div class="hstack gap-2 justify-content-end">
                                                <button type="submit"
                                                        class="btn btn-primary">
                                                    Kaydet
                                                </button>
                                                <button type="button"
                                                        class="btn btn-soft-success">
                                                    İptal
                                                </button>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            <!--end tab-pane-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

    </div>
    <!-- container-fluid -->
</div><!-- End Page-content -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHrcxK3rvijsw_SZFYUh7wapTDufPXjIs&libraries=places&callback=initMap&v=weekly" async></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>