@using WebApplication1.Models;
@model Sofor
@{
    ViewBag.Title = "Soforduzenle";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-3">

                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <h5 class="card-title mb-0">Şoför Ekle</h5>
                                <p class="mt-2">Lütfen tüm bilgileri eksiksiz doldurun.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-xxl-9">
                <div class="card mt-xxl-n5">
                    <div class="card-header">
                        <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0"
                            role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="~/Content/html/default/#personalDetails"
                                   role="tab">
                                    <i class="fas fa-home"></i>
                                    Personal Details
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body p-4">
                        <div class="tab-content">
                            <div class="tab-pane active" id="personalDetails" role="tabpanel">
                                <form action="~/Home/Soforduzenle/@Model.soforNo" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="card mt">
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                                        <img src="~/Content/html/default/assets/images/users/@Model.fotograf"
                                                             class="rounded-circle avatar-xl img-thumbnail user-profile-image"
                                                             alt="user-profile-image">
                                                        <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                                            <input id="profile-img-file-input" name="resiminput" type="file"
                                                                   class="profile-img-file-input">
                                                            <label for="profile-img-file-input"
                                                                   class="profile-photo-edit avatar-xs">
                                                                <span class="avatar-title rounded-circle bg-light text-body">
                                                                    <i class="ri-camera-fill"></i>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <h5 class="fs-16 mb-1">Resim Seç</h5>
                                                    <h5 class="fs-16 mb-1">@Model.adi @Model.soyadi @Model.Id</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="firstnameInput" class="form-label">Adı</label>
                                                <input type="text" class="form-control" id="firstnameInput" name="adinput"
                                                       value="@Model.adi">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="lastnameInput" class="form-label">Soyadı</label>
                                                <input type="text" class="form-control" id="lastnameInput" name="soyadinput"
                                                       value="@Model.soyadi">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="phonenumberInput" class="form-label">Telefon Numarası</label>
                                                <input type="text" class="form-control"
                                                       id="phonenumberInput" name="telefoninput"
                                                       placeholder="Enter your phone number"
                                                       value="@Model.telefonno">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="emailInput" class="form-label">e-Mail Adresi</label>
                                                <input type="email" class="form-control" id="emailInput"
                                                       placeholder="Enter your email" name="emailinput"
                                                       value="@Model.email">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="kimlikinput" class="form-label">Kimlik No</label>
                                                <input type="text" class="form-control" id="kimlikinput" name="kimlikinput"
                                                       placeholder="Kimlik Numarasını Girin" value="@Model.kimlikno">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="ehliyetinput" class="form-label">Ehliyet No</label>
                                                <input type="text" class="form-control" id="ehliyetinput" name="ehliyetinput"
                                                       placeholder="Ehliyet Numarasını Girin" value="@Model.ehliyetno">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label for="skillsInput" class="form-label">Ehliyet Tipi</label>
                                                <select class="form-control" name="ehliyettipinput" data-choices
                                                        data-choices-text-unique-true multiple id="skillsInput">
                                                    <option value="BE">BE</option>
                                                    <option value="C1">C1</option>
                                                    <option value="C1E">C1E</option>
                                                    <option value="C">C</option>
                                                    <option value="CE" selected>CE</option>
                                                    <option value="F">F</option>
                                                    <option value="G">G</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="cityInput" class="form-label">Şehir</label>
                                                <input type="text" class="form-control" id="cityInput" name="sehirinput"
                                                       placeholder="City" value="@Model.sehir" />
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="countryInput" class="form-label">Ülke</label>
                                                <input type="text" class="form-control" id="countryInput" name="ulkeinput"
                                                       placeholder="Country" value="@Model.ulke" />
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="zipcodeInput" class="form-label">Posta Kodu</label>
                                                <input type="text" class="form-control" minlength="5"
                                                       maxlength="6" id="zipcodeInput"
                                                       placeholder="Enter zipcode" value="90011">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <div class="mb-3 pb-2">
                                                <label for="exampleFormControlTextarea"
                                                       class="form-label">Açıklama</label>
                                                <textarea class="form-control"
                                                          id="exampleFormControlTextarea"
                                                          placeholder="Enter your description"
                                                          rows="3"></textarea>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <div class="hstack gap-2 justify-content-end">
                                                <button type="submit"
                                                        class="btn btn-primary">
                                                    Düzenle
                                                </button>
                                                <a type="button" href="~/Home/Soforsil/@Model.soforNo"
                                                        class="btn btn-soft-danger">
                                                    Şoförü Sil
                                                </a>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            <!--end tab-pane-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

    </div>
    <!-- container-fluid -->
</div><!-- End Page-content -->
